*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

.box{
    height: 100vh;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    position: relative;

}

.over{
    height: 100%;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.255);
    position: absolute;
}

.decor{
    height: 100%;
    width: 30%;
    /* border: 1px solid purple; */
    background-image: url(./Background_bookstore.png);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

.logo img{
    width: 80px;
    cursor: pointer;
}

.loginform{
    height: 100%;
    width: 70%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.formproper{
    height: 50%;
    width: 50%;
    /* border: 1px solid brown; */
    display: flex;
    flex-direction: column;
}

.formproper h1{
    font-weight: 600;
}

#Usr{
    height: 50px;
    width: 79%;
    border: 1px solid #e7e7e9;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
}

#email{
    height: 50px;
    width: 79%;
    border: 1px solid #e7e7e9;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
}

#pswrd{
    height: 50px;
    width: 79%;
    border: 1px solid #e7e7e9;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;

}

.formproper button{
    width: 79%;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #b17945;
    margin-top: 50px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.formproper button:hover{
    background-color: #e3ae7e;
}

.formproper h4{
    font-weight: 500;
    margin-top: 10px;
    font-size: 14px; 
}

@media screen and (max-width:800px) {
    .formproper {
        width: 60%;

    }

    .formproper button {
        width: 100%;
    }

    #email{
        width: 100%;
    }

    #pswrd {
        width: 100%;

    }

    #Usr {
        width: 100%;
    }
}


@media screen and (max-width:600px) {
    .decor {
        display: none;
    }

    .loginform {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .over {
        display: none;
    }

    .formproper {
        width: 70%;
    }

}